@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
  background-color: #cce6ff;
  border-color: #b3d9ff;
}

.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #cce6ff;
}

